@model IEnumerable<GamesQueryModel>

@{
    ViewBag.Title = "All Games";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var game in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@game.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@game.Title</h5>
                <p class="mb-0">Studio: @game.Studio</p>
                <p class="mb-0">Description: @game.Description</p>
                <p class="mb-0">Rating: @game.Rating</p>
                <p>Category: @game.Category</p>
            </div>
          
            
            <a asp-controller="Post" asp-action="Add" asp-route-gameId="@game.Id" class="btn btn-outline-success">Add Post</a>
            <a asp-controller="Post" asp-action="All" asp-route-gameId="@game.Id" class="btn btn-outline-info">All Post</a>
            <a asp-controller="Game" asp-action="Edit" asp-route-gameId="@game.Id" class="btn btn-outline-warning">Edit Game</a>
            <a asp-controller="Game" asp-action="Delete" asp-route-gameId="@game.Id" class="btn btn-outline-danger">Delete</a>
        </div>
    }
</div>
