@model GamesQueryModel

@{
    ViewBag.Title = "Finde game by name";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row gap-1 justify-content-center">
    <div class="card col-5">
        <h3 class="card-header">@Model.Title</h3>
        <div class="card-body">
            <h5 class="card-title">Studio:</h5>
            <h6 class="card-subtitle text-muted">@Model.Studio</h6>
        </div>
        <img class="center-block" style="width: 33rem; height: 20rem;"
             src="@Model.ImageUrl" alt="Game Image">
        <div class="card-body">
            <h4 class="card-text">Description:</h4>
            <p class="list-group-item">@Model.Description</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Rating:</h5>
            <h6 class="card-subtitle text-muted">@Model.Rating</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">Rating:</h5>
            <h6 class="card-subtitle text-muted">@Model.Category</h6>
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer text-muted gap-2">
            <a asp-controller="User" asp-action="AddToCollection" asp-route-gameId="@Model.Id" class="btn btn-outline-success">Add as Favorite</a>
            <a asp-controller="Post" asp-action="Add" asp-route-gameId="@Model.Id" class="btn btn-outline-success">Add Post</a>
            <a asp-controller="Post" asp-action="All" asp-route-gameId="@Model.Id" class="btn btn-outline-info">All Posts</a>
            @if (User.IsAdmin())
            {
                <a asp-area="Admin" asp-controller="Game" asp-action="Edit" asp-route-gameId="@Model.Id" class="btn btn-outline-warning">Edit Game</a>
                <a asp-area="Admin" asp-controller="Game" asp-action="Delete" asp-route-gameId="@Model.Id" class="btn btn-outline-danger">Delete</a>
            }
        </div>
    </div>
</div>